flake8==3.9.2
mypy-extensions==0.4.3
mypy==0.910
pycodestyle==2.7.0
pyflakes==2.3.1
typed-ast==1.4.3
typing-extensions==3.10.0.0
VapourSynth>=51
git+https://github.com/Irrational-Encoding-Wizardry/vsutil.git@40a2681#egg=vsutil
